body {
    background:#edefec;}


h2 {
    color: darkblue;
}
.about-title {
    color:darkblue;
}
#skills-title {
    color:darkblue;
}

.projects-title {
    color:darkblue;
}
#contact-title {
    color:darkblue;
}