body {
    background:#edefec;}


h2 {
    color: darkblue;
}
.about-title {
    color:darkblue;
}
#skills-title {
    color:darkblue;
}

.projects-title {
    color:darkblue;
}
#contact-title {
    color:darkblue;
}
img { margin: 10px; border: 4px solid rgb(25, 3, 134);

}